<main class="flex-1 p-6 overflow-auto" data-id="59">
    <div class="flex flex-row items-center justify-between mb-4" data-id="60">
        <input
        class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 max-w-sm"
        placeholder="Buscar..." data-id="61" type="text">
    <button (click)="showDialog()"
        class="bg-gray-800 text-white inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-9 rounded-md px-3"
        data-id="44">Crear Rol</button>
</div>
<div class="relative w-full overflow-auto">
    <table class="w-full caption-bottom text-sm" data-id="31">
        <thead class="[&amp;_tr]:border-b" data-id="32">
            <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted" data-id="33">
                <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0"
                    data-id="34">ID</th>
                <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0"
                    data-id="35">Nombre Rol</th>
                <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0"
                    data-id="37">Acciones</th>
            </tr>
        </thead>
        <tbody class="[&amp;_tr:last-child]:border-0" data-id="38">
            @for (role of roles; track $index) {
                <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted" data-id="39">
                    <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0" data-id="40">{{role.id}}</td>
                    <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0" data-id="41">{{role.roleName}}</td>
              
                    <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0" data-id="43"><button
                            (click)="showEditDialog(role)"
                            class="bg-gray-800 text-white inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-9 rounded-md px-3"
                            data-id="44">Editar</button><button
                            class="bg-rose-600 text-white inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-9 rounded-md px-3 ml-2"
                            data-id="45">Eliminar</button></td>
                </tr>
            } 
        </tbody>
        </table>
    </div>
</main>
<div class="card flex justify-content-center">
    <p-dialog header="Crear un rol" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
        <span class="p-text-secondary block mb-5">Crea un rol</span>
        <div class="flex align-items-center gap-3 mb-3">
            <label for="name" class="font-semibold w-6rem">Nombre Rol</label>
            <input pInputText id="name" [(ngModel)]="roleToCreate.roleName" class="flex-auto" autocomplete="off" />
        </div>
        <div class="flex justify-content-end gap-2">
            <p-button label="Cancel" severity="secondary" (onClick)="visible = false" />
            <p-button label="Save" (onClick)="createRole()" />
        </div>
    </p-dialog>
</div>
<div class="card flex justify-content-center">
    <p-dialog header="Editar un usuario" [modal]="true" [(visible)]="editVisible" [style]="{ width: '25rem' }">
        <span class="p-text-secondary block mb-5">Editar un rol</span>
        <div class="flex align-items-center gap-3 mb-3">
            <label for="name" class="font-semibold w-6rem">Nombre Rol</label>
            <input pInputText id="name" [(ngModel)]="roleToEdit.roleName" class="flex-auto" autocomplete="off" />
        </div>
        <div class="flex justify-content-end gap-2">
            <p-button label="Cancel" severity="secondary" (onClick)="editVisible = false" />
            <p-button label="Save" (onClick)="updateRole()" />
        </div>
    </p-dialog>
</div>